<table class="table table-hover results-table">
<tr><th style="width:10%;"></th><th style="width:20%;">Date</th><th>Matchup</th></tr>
{% for game in games %}
<tr>
  <td><b>{{ game.i }}.</b></td>
  <td style="vertical-align:middle;">{{ game.date }}</td>
  <td>
    <img src="https://d2p3bygnnzw9w3.cloudfront.net/req/202005291/tlogo/ncaa/{{ game.t1 }}.png" width="20px"/>
    {{ game.dn1 }} {{ game.r1str }} {{ game.vs_str }}
    <br>
    <img src="https://d2p3bygnnzw9w3.cloudfront.net/req/202005291/tlogo/ncaa/{{ game.t2 }}.png" width="20px"/>
    {{ game.dn2 }} {{ game.r2str }}
  <td>
</tr>
{% endfor %}
</table>
