
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>{{title}} - Bennett Marsh</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170033272-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-170033272-1');
    </script>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">

    <!-- cool slider -->

  </head>
  
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#" style="color:white;font-size:22pt;margin-bottom:5px">
            <img src="static/images/basketball.png" style="height:24pt;display:inline-block;"> 
              {{title}} 
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" style="margin-top:3px">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li><a href="https://github.com/bjmarsh/WatchCBB">GitHub</a></li>
            <li><a href="/slides">Slides</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br><br>

    <div class="container">
      <div class="starter-template">
        <h1>WatchCBB</h1>
        <div class="container" style="width:75%;">
          <p class="lead" style=>
            <br> Enter a date and see the forecasted most exciting games in the coming week.
            <br><small style="font-size:70%;color:#888888"><i>
                Note: since we are not in the middle of a college basketball season,
                this is back-dating to the 2019-20 season. When a date is entered,
                it assumes knowledge of only the games played before that date.
            </i> </small>
          </p>
        </div>
      </div>
    </div>

    <div class="container" style="text-align:center;">
      <div class="cbb-input">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Date</span>
          <input type="text" class="form-control" id="date_input" 
                 placeholder="2020-02-01" aria-describedby="basic-addon1">
        </div>

        <br>

        <div class="wrapper">
          <div class="cbb-slider-label"><label>I prefer the best teams</label></div>
          <div class="cbb-slider">
            <input id="slider1" type="range" min="-100" max="100" step="1" value="0"/>
          </div>
          <div class="cbb-slider-label"><label>I prefer close games</label></div>
        </div>

        <br>

        <div class="wrapper">
          <div class="cbb-slider-label"><label>Chance of an upset?</label></div>
          <div class="cbb-slider">
            <input id="slider2" type="range" min="-100" max="100" step="1" value="0"/>
          </div>
          <div class="cbb-slider-label"><label></label></div>
        </div>

        <br>

        <div class="wrapper">
          <div class="cbb-slider-label"><label>Slow-paced, defensive</label></div>
          <div class="cbb-slider">
            <input id="slider3" type="range" min="-100" max="100" step="1" value="0"/>
          </div>
          <div class="cbb-slider-label"><label>Fast-paced, offensive</label></div>
        </div>

        <br>
        <p style="font-size:16px;font-weight:bold">Conferences:</p>
        <div class="wrapper" style="width:90%;padding-left:10%;display:inline-block;text-align:left;">
          <div class="conf-chk-div">
            <input type="checkbox" id="chk_B10", value="B10" checked> <label for="chk_B10">Big Ten</label>
          </div>
          <div class="conf-chk-div">
            <input type="checkbox" id="chk_B12", value="B12" checked> <label for="chk_B12">Big 12</label>
          </div>
          <div class="conf-chk-div">
            <input type="checkbox" id="chk_ACC", value="ACC" checked> <label for="chk_ACC">ACC</label>
          </div>
          <div class="conf-chk-div">
            <input type="checkbox" id="chk_SEC", value="SEC" checked> <label for="chk_SEC">SEC</label>
          </div>
        </div>
        <br>
        <div class="wrapper" style="width:90%;padding-left:10%;display:inline-block;text-align:left;">
          <div class="conf-chk-div">
            <input type="checkbox" id="chk_BE", value="BE" checked> <label for="chk_BE">Big East</label>
          </div>
          <div class="conf-chk-div">
            <input type="checkbox" id="chk_MWC", value="MWC" checked> <label for="chk_MWC">Mtn. West</label>
          </div>
          <div class="conf-chk-div">
            <input type="checkbox" id="chk_Amer", value="Amer" checked> <label for="chk_Amer">American</label>
          </div>
          <div class="conf-chk-div">
            <input type="checkbox" id="chk_other", value="other" checked> <label for="chk_other">Other</label>
          </div>
        </div>

        <br><br>
        <button id="submit_button" style="font-size:18px;">Get games!</button>
      </div> <!-- cbb-input -->

    </div>

    <br>

    <div class="container">
        <div id="games_table">
        </div>
    </div>

    <br><br>
    
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
$("#submit_button").click(function(){
    var date = $("#date_input").val();
    var s1 = $("#slider1").val();
    var s2 = $("#slider2").val();
    var s3 = $("#slider3").val();
    var confs = ["B10","B12","ACC","SEC","BE","MWC","Amer","other"];
    var checks = "";
    for(var i=0; i<confs.length; i++){
        checks += ($("#chk_"+confs[i]).is(":checked") ? "1" : "0");
    }

    $.ajax({
      url: "/games",
      type: "get",
      data: {date: date, 
             s1: s1, 
             s2: s2, 
             s3: s3,
             checks: checks},
      success: function(response) {
        $("#games_table").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});

// Make enter the same as button click
var input = document.getElementById("date_input");

input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("submit_button").click();
  }
});

</script>

<script src="../static/js/bootstrap.min.js"></script>


  </body>
</html>
