
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/starter-template/">

    <title>{{title}} - Bennett Marsh</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

  </head>
  
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> {{title}} </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
<!--             <li class="active"><a href="#">Home</a></li> -->
<!--             <li><a href="#about">About</a></li> -->
<!-- x            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br><br>

    <div class="container">
      <div class="starter-template">
        <h1>WatchCBB</h1>
        <p class="lead">
          <br> Enter a date and see the forecasted most exciting games in the coming week.</p>
      </div>
    </div>

    <div class="container">
      <div class="cbb-input">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Date</span>
          <input type="text" class="form-control" id="date_input" 
                 placeholder="2020-02-01" aria-describedby="basic-addon1">
        </div>
        <br>
        <button id="submit_button">Get games!</button>
      </div>
    </div>

    <br>

    <div class="container">
      <div id="games_table">
      </div>
    </div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
$("#submit_button").click(function(){
    var date = $("#date_input").val();
    console.log("HI");
    console.log(date);
    
    $.ajax({
      url: "/games",
      type: "get",
      data: {date: date},
      success: function(response) {
        $("#games_table").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
</script>

<script src="../static/js/bootstrap.min.js"></script>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
